@charset "utf-8";

/*****************************************************************
* filename : basic.css
* description : 페이지에서 공통으로 사용하는 class ☆ 추가 가능 ★ 삭제 금지 ★
* date : 2022-01
*****************************************************************/

/*****************************************************************
width / height 
*****************************************************************/

/* width */
.width-auto { width: auto; }
.width-full { width: 100%; }

.width-50 { width: 50px !important; }
.width-100 { width: 100px !important; }
.width-150 { width: 150px !important; }
.width-200 { width: 200px !important; }
.width-250 { width: 250px !important; }
.width-300 { width: 300px !important; }
.width-350 { width: 350px !important; }
.width-400 { width: 400px !important; }
.width-450 { width: 450px !important; }
.width-500 { width: 500px !important; }
.width-550 { width: 550px !important; }
.width-600 { width: 600px !important; }

.width-5p { width: 5% !important; }
.width-10p { width: 10% !important; }
.width-15p { width: 15% !important; }
.width-20p { width: 20% !important; }
.width-25p { width: 25% !important; }
.width-30p { width: 30% !important; }
.width-35p { width: 35% !important; }
.width-40p { width: 40% !important; }
.width-43p { width: 43% !important; }
.width-45p { width: 45% !important; }
.width-47p { width: 47% !important; }
.width-50p { width: 50% !important; }
.width-55p { width: 55% !important; }
.width-60p { width: 60% !important; }
.width-65p { width: 65% !important; }
.width-70p { width: 70% !important; }
.width-75p { width: 75% !important; }
.width-80p { width: 80% !important; }
.width-85p { width: 85% !important; }
.width-90p { width: 90% !important; }
.width-95p { width: 95% !important; }
.width-100p { width: 100% !important; }

/*height*/
.height-auto { height: auto !important; }
.height-full { height: 100% !important; }

.height-50 { height: 50px !important; }
.height-100 { height: 100px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.height-300 { height: 300px !important; }
.height-350 { height: 350px !important; }
.height-400 { height: 400px !important; }
.height-450 { height: 450px !important; }
.height-500 { height: 500px !important; }
.height-550 { height: 550px !important; }
.height-600 { height: 600px !important; }

/*****************************************************************
padding
*****************************************************************/
.p-v-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-h-0 { padding-right: 0 !important; padding-left: 0 !important; }

.p-0 { padding: 0 !important; }
.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-35 { padding: 35px !important; }
.p-40 { padding: 40px !important; }
.p-45 { padding: 45px !important; }
.p-50 { padding: 50px !important; }
.p-55 { padding: 55px !important; }
.p-60 { padding: 60px !important; }

.p-t-0 { padding-top: 0 !important; }
.p-t-5 { padding-top: 5px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-t-25 { padding-top: 25px !important; }
.p-t-30 { padding-top: 30px !important; }
.p-t-35 { padding-top: 35px !important; }
.p-t-40 { padding-top: 40px !important; }
.p-t-45 { padding-top: 45px !important; }
.p-t-50 { padding-top: 50px !important; }
.p-t-55 { padding-top: 55px !important; }
.p-t-60 { padding-top: 60px !important; }

.p-r-0 { padding-right: 0 !important; }
.p-r-5 { padding-right: 5px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-25 { padding-right: 25px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-r-35 { padding-right: 35px !important; }
.p-r-40 { padding-right: 40px !important; }
.p-r-45 { padding-right: 45px !important; }
.p-r-50 { padding-right: 50px !important; }
.p-r-55 { padding-right: 55px !important; }
.p-r-60 { padding-right: 60px !important; }

.p-b-0 { padding-bottom: 0 !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-b-25 { padding-bottom: 25px !important; }
.p-b-30 { padding-bottom: 30px !important; }
.p-b-35 { padding-bottom: 35px !important; }
.p-b-40 { padding-bottom: 40px !important; }
.p-b-45 { padding-bottom: 45px !important; }
.p-b-50 { padding-bottom: 50px !important; }
.p-b-55 { padding-bottom: 55px !important; }
.p-b-60 { padding-bottom: 60px !important; }

.p-l-0 { padding-left: 0 !important; }
.p-l-5 { padding-left: 5px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-25 { padding-left: 25px !important; }
.p-l-30 { padding-left: 30px !important; }
.p-l-35 { padding-left: 35px !important; }
.p-l-40 { padding-left: 40px !important; }
.p-l-45 { padding-left: 45px !important; }
.p-l-50 { padding-left: 50px !important; }
.p-l-55 { padding-left: 55px !important; }
.p-l-60 { padding-left: 60px !important; }

/*****************************************************************
margin 
*****************************************************************/
.m-v-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-h-0 { margin-right: 0 !important; margin-left: 0 !important; }

.m-0 { margin: 0 !important; }
.m-5 { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }
.m-30 { margin: 30px !important; }
.m-35 { margin: 35px !important; }
.m-40 { margin: 40px !important; }
.m-45 { margin: 45px !important; }
.m-50 { margin: 50px !important; }
.m-55 { margin: 55px !important; }
.m-60 { margin: 60px !important; }

.m-t-0 { margin-top: 0 !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-35 { margin-top: 35px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-t-45 { margin-top: 45px !important; }
.m-t-50 { margin-top: 50px !important; }
.m-t-55 { margin-top: 55px !important; }
.m-t-60 { margin-top: 60px !important; }

.m-r-0 { margin-right: 0 !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-25 { margin-right: 25px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-r-35 { margin-right: 35px !important; }
.m-r-40 { margin-right: 40px !important; }
.m-r-45 { margin-right: 45px !important; }
.m-r-50 { margin-right: 50px !important; }
.m-r-55 { margin-right: 55px !important; }
.m-r-60 { margin-right: 60px !important; }

.m-b-0 { margin-bottom: 0 !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-35 { margin-bottom: 35px !important; }
.m-b-40 { margin-bottom: 40px !important; }
.m-b-45 { margin-bottom: 45px !important; }
.m-b-50 { margin-bottom: 50px !important; }
.m-b-55 { margin-bottom: 55px !important; }
.m-b-60 { margin-bottom: 60px !important; }

.m-l-0 { margin-left: 0px !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-25 { margin-left: 25px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-l-35 { margin-left: 35px !important; }
.m-l-40 { margin-left: 40px !important; }
.m-l-45 { margin-left: 45px !important; }
.m-l-50 { margin-left: 50px !important; }
.m-l-55 { margin-left: 55px !important; }
.m-l-60 { margin-left: 60px !important; }
.m-l-70 { margin-left: 70px !important; }
.m-l-80 { margin-left: 80px !important; }
.m-l-90 { margin-left: 90px !important; }
.m-l-100 { margin-left: 100px !important; }
.m-l-110 { margin-left: 110px !important; }
.m-l-120 { margin-left: 120px !important; }
.m-l-125 { margin-left: 125px !important; }

.m-l-2p { margin-left: 2% !important; }
.m-l-3p { margin-left: 3% !important; }
.m-l-4p { margin-left: 4% !important; }
.m-l-5p { margin-left: 5% !important; }
.m-l-10p { margin-left: 10% !important; }


/*****************************************************************
text-align
*****************************************************************/

.text-hide { text-indent: -99999px; }
.text-left { text-align: left !important }
.text-right { text-align: right !important }
.text-center { text-align: center!important }
.text-justify { text-align: justify!important }
.text-nowrap { white-space: nowrap!important }
.text-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.text-lowercase { text-transform: lowercase!important }
.text-uppercase { text-transform: uppercase!important }
.text-capitalize { text-transform: capitalize!important }

/*****************************************************************
border
*****************************************************************/
.bor-no { border: none !important }
.bor-l-no { border-left: 0 none !important }
.bor-r-no { border-right: 0 none !important }
.bor-t-no { border-top: 0 none !important }
.bor-b-no { border-bottom: 0 none !important }

/*****************************************************************
float / position / valign 
*****************************************************************/
.float-l { float: left !important }
.float-r { float: right !important }
.clearboth { clear: both !important }
.clearfix:after { content:''; display: block; clear:both; }

.position-r { position: relative !important }
.position-a { position: absolute !important }
.position-f { position: fixed !important; }

.valign-t { vertical-align: top !important }
.valign-l { vertical-align: middle !important }
.valign-b { vertical-align: bottom !important }

/*****************************************************************
etc
*****************************************************************/
/*포인터*/
.pointer { cursor: pointer }

/*자간*/
.le-s-1 { letter-spacing: -1px !important; }
.le-s-2 { letter-spacing: -2px !important; }
.le-s-3 { letter-spacing: -2px !important; }

/*line-height*/
.lh-20p { line-height: 20px; }
.lh-21p { line-height: 21px; }
.lh-22p { line-height: 22px; }
.lh-23p { line-height: 23px; }
.lh-22p { line-height: 22px; }
.lh-25p { line-height: 25px; }
.lh-26p { line-height: 26px; }
.lh-27p { line-height: 27px; }
.lh-28p { line-height: 28px; }
.lh-29p { line-height: 29px; }
.lh-30p { line-height: 30px; }
.lh-40p { line-height: 40px; }
.lh-41p { line-height: 41px; }
.lh-42p { line-height: 42px; }
.lh-43p { line-height: 43px; }
.lh-42p { line-height: 42px; }
.lh-45p { line-height: 45px; }
.lh-46p { line-height: 46px; }
.lh-47p { line-height: 47px; }
.lh-48p { line-height: 48px; }
.lh-49p { line-height: 49px; }
.lh-50p { line-height: 50px; }

.lh-1_0e { line-height: 1.0em; }
.lh-1_1e { line-height: 1.1em; }
.lh-1_2e { line-height: 1.2em; }
.lh-1_3e { line-height: 1.3em; }
.lh-1_4e { line-height: 1.4em; }
.lh-1_5e { line-height: 1.5em; }
.lh-1_6e { line-height: 1.6em; }
.lh-1_7e { line-height: 1.7em; }
.lh-1_8e { line-height: 1.8em; }
.lh-1_9e { line-height: 1.9em; }
.lh-2_0e { line-height: 2.0em; }

/*뷰, 숨김*/
.hide { display:none !important; }
.show { display:block !important; }

.blind { position: absolute; top: 0px; left: -10000px; font-size: 0; line-height: 0; }

/*clerFix*/
.clerFix:after { content:''; display: block; clear: both;}
