.h_graph ul{ margin:0 50px 0 100px;height:auto;padding:1px 0 0 0;border:1px solid #ddd;border-top:0;border-right:0;font-size:11px;font-family:Tahoma, Geneva, sans-serif;list-style:none} /* height: 190px;*/
.h_graph li{height: 40px;position:relative;margin:7px 0 0 0;vertical-align:top;white-space:nowrap}
.h_graph .g_term{position:absolute;top:0;left:-96px;width:60px;font-weight:bold;color:#767676;line-height:20px;text-align:right}

.h_graph .g_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .g_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .g_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .g_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .g_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .g_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .g_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .g_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .g_bar{display:inline-block;position:relative;height:20px;border:1px solid #ccc;border-left:0;background:#e9e9e9; width:40%}
.h_graph .g_bar span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

/* added */
.h_graph .hw0_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw0_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw0_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw0_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw0_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw0_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw0_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw0_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

/* grap */
.h_graph .hw_bar{display:inline-block;position:relative;height:20px;border-left:0;}
.h_graph .no_grap{width:0;border:none !important;}
.h_graph .hw_bar1{border:1px solid #FD79A8;background:#FD79A8;}
.h_graph .hw_bar2{border:1px solid #CC72F5;background:#CC72F5;}
.h_graph .hw_bar3{border:1px solid #6C5CE7;background:#6C5CE7;}
.h_graph .hw_bar4{border:1px solid #0984E3;background:#0984E3;}
.h_graph .hw_bar span {position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw2_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw2_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw2_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw2_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw2_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw2_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw2_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw2_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw3_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw3_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw3_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw3_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw3_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw3_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw3_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw3_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw4_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw4_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw4_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw4_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw4_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw4_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw4_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw4_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw5_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw5_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw5_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw5_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw5_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw5_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw5_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw5_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw6_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw6_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw6_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw6_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw6_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw6_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw6_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw6_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw7_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw7_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw7_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw7_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw7_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw7_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw7_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw7_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw8_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw8_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw8_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw8_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw8_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw8_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw8_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw8_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}

.h_graph .hw9_bar1{display:inline-block;position:relative;height:20px;border:1px solid #FD79A8;border-left:0;background:#FD79A8; width:40%}
.h_graph .hw9_bar1 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw9_bar2{display:inline-block;position:relative;height:20px;border:1px solid #CC72F5;border-left:0;background:#CC72F5; width:40%}
.h_graph .hw9_bar2 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw9_bar3{display:inline-block;position:relative;height:20px;border:1px solid #6C5CE7;border-left:0;background:#6C5CE7; width:40%}
.h_graph .hw9_bar3 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
.h_graph .hw9_bar4{display:inline-block;position:relative;height:20px;border:1px solid #0984E3;border-left:0;background:#0984E3; width:40%}
.h_graph .hw9_bar4 span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}


